{% extends "base.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <h1 class="lead">This is a Prototype for the Stanford Law School Copyright Practicum</h1>

    <p>This website provides a simple demonstration of a digital photo license exchange. Money should not be exchanged through the prototype website. The licenses provided by the website are not in any sense actual or binding. Please do not submit actual credit card information through this prototype site. Any information submitted should be considered insecure and is not recommended.</p>
    <p>Please contact <a href="mailto:chrisyeh@stanford.edu">Chris</a> for information about how to submit a mock “purchase” of a photograph, or with any questions.</p>
    <p>This prototype is for demonstration purposes only.</p>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">License Exchange</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Code the Change</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></p>

    <form action="{{ url_for('homeRoutes.submit_feedback') }}" method="POST">
      <h1 class="lead">Contact Us</h1>

      <div class="form-group {% if contact_form.name.errors %} has-error {% endif %}">
        {{ contact_form.name.label() }}
        {{ contact_form.name(placeholder="e.g. John Smith", class="form-control", required="") }}

        {% if contact_form.name.errors %}
          <p class="help-block">
            {{ contact_form.name.errors[0] }}
          </p>
        {% endif %}
      </div>

      <div class="form-group {% if contact_form.email.errors %} has-error {% endif %}">
        {{ contact_form.email.label() }}
        {{ contact_form.email(placeholder="e.g. me@example.com", class="form-control", required="") }}

        {% if contact_form.email.errors %}
          <p class="help-block">
            {{ contact_form.email.errors[0] }}
          </p>
        {% endif %}
      </div>

      <div class="form-group {% if contact_form.message.errors %} has-error {% endif %}">
        {{ contact_form.message.label() }}
        {{ contact_form.message(placeholder="Comments, questions, and suggestions", class="form-control", required="") }}

        {% if contact_form.message.errors %}
          <p class="help-block">
            {{ contact_form.message.errors[0] }}
          </p>
        {% endif %}
      </div>

      {{ contact_form.submit(class="btn btn-primary") }}
    </form><br>
  </div>
</div>
{% endblock %}