{% extends "background_img_form.html" %}

{% block css %}
{{ super() }}
{% endblock %}

{% block form %}
<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-4">
    <form id="searchForm" action="/search" method="get" name="search">
      <div class="input-group">
        <input name="searchText" type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
{% endblock %}