html, body {
  height: 100%;
}

#content { 
  /* full-screen background */
  height: 100%;
  background-image: url(/static/images/el_capitan.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  
  /* enable absolute positioning of forms */
  position: relative;
}

.form-wrapper {
  position: relative;
  top: 20%;
}

form {
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 3px 10px rgba(255,255,255,0.9);
}

#attribution {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 5px;
}